body {
    margin: 15px;
    color: #0a2934;

}

header {
    background-image: url(../images/clear.jpg);
    background-size: cover;
}

.banner-text {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-weight: 700;
    text-align: right;
}

.about {
    text-align: center;
}

#name {
    color: #6BB9D3;
    font-family: 'Electrolize', sans-serif;
}

#tagline {
    font-style: italic;
    color: white;
}

h3 {
    margin: 0;
}

.project-title {
    margin-bottom: 10px;
}

.project-desc {
    margin-top: 10px;
}



.icons {
    width: auto;
    height: 50px;
    margin: 20px;
}




